# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[{*.java, *.kt, *.gradle, *.groovy}]

# tag::generic[]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
max_line_length = 120
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
# end::generic[]

# tag::intellij[]
ij_continuation_indent_size = 8
# end::intellij[]

# tag::intellij-java-specific[]
ij_any_space_before_if_left_brace = true
ij_any_space_before_if_parentheses = true
ij_any_space_before_for_parentheses = true
ij_any_align_multiline_chained_methods = false
ij_java_class_count_to_use_import_on_demand = 1000
ij_java_names_count_to_use_import_on_demand = 1000
ij_java_packages_to_use_import_on_demand = 1000
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
ij_java_imports_layout = java.**, |, javax.**, |, scala.**, |, com.**, |, net.**, |, org.**, |, *, |, $*

ij_any_wrap_first_method_in_call_chain = false
ij_java_parameter_annotation_wrap = normal
ij_java_blank_lines_after_class_header = 0
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_field_in_interface = 0
ij_java_blank_lines_around_initializer = 1
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_around_method_in_interface = 1
ij_java_blank_lines_before_class_end = 0
ij_java_blank_lines_before_imports = 1
ij_java_blank_lines_before_method_body = 0
ij_java_blank_lines_before_package = 0

ij_java_use_relative_indents = false
ij_java_align_consecutive_assignments = false
ij_java_align_consecutive_variable_declarations = false
ij_java_align_group_field_declarations = false
ij_java_annotation_parameter_wrap = normal
ij_java_align_multiline_annotation_parameters = false
ij_java_align_multiline_assignment = false

ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_simple_classes_in_one_line = false
ij_java_keep_simple_lambdas_in_one_line = false
ij_java_space_before_method_call_parentheses = false

ij_java_doc_add_blank_line_after_description = true
ij_java_doc_add_blank_line_after_param_comments = false
ij_java_doc_add_blank_line_after_return = false
ij_java_doc_add_p_tag_on_empty_lines = true
ij_java_doc_align_exception_comments = true
ij_java_doc_align_param_comments = true
ij_java_doc_do_not_wrap_if_one_line = false
ij_java_doc_enable_formatting = true
ij_java_doc_enable_leading_asterisks = true
ij_java_doc_indent_on_continuation = false
ij_java_doc_keep_empty_lines = true
ij_java_doc_keep_empty_parameter_tag = true
ij_java_doc_keep_empty_return_tag = true
ij_java_doc_keep_empty_throws_tag = true
ij_java_doc_keep_invalid_tags = true
ij_java_doc_param_description_on_new_line = false
ij_java_doc_preserve_line_breaks = false
ij_java_doc_use_throws_not_exception_tag = true

ij_java_keep_simple_methods_in_one_line = false
# end::intellij-java-specific[]

[{.babelrc, .stylelintrc, .eslintrc, jest.config, *.tfstate, *.json, *.avsc, *.jsb3, *.bowerrc, *.jsb2, *.yml, *.yaml}]
indent_size = 2
ij_json_keep_blank_lines_in_code = 0
ij_json_keep_indents_on_empty_lines = false
ij_json_keep_line_breaks = true
ij_json_space_after_colon = true
ij_json_space_after_comma = true
ij_json_space_before_colon = true
ij_json_space_before_comma = false
ij_json_spaces_within_braces = false
ij_json_spaces_within_brackets = false
ij_json_wrap_long_lines = false
insert_final_newline = false

[{messages.*, spring.schemas, messages, spring.handlers, *.properties}]
ij_properties_align_group_field_declarations = false

[*.md]
indent_size = 2
indent_style = space
max_line_length = 120
ij_wrap_on_typing = true
ij_any_wrap_long_lines = true
ij_continuation_indent_size = 0

[*.feature]
indent_size = 2
